/* General styles for the application */
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

Logo animation
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header styling */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Shared link styles */
.App-link, a {
  color: inherit;
  text-decoration: none;
  background-color: cadetblue;
}

/* Styling for cards */
.card {
  width: 40%;
  border: cadetblue solid;
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: inline-block;
  margin: 2% 2% 0 0;
}

.card h2 {
  width: 70%;
}

.card .stars {
  display: inline-flex;
  flex-direction: row;
  width: 20%;
  font-size: larger;
}

/* Error styles */
.error-404, .error-boundary {
  margin: 15% auto;
}

.error-404 h1, .error-boundary h1 {
  color: red;
  font-style: italic;
  font-size: 800%;
}

/* Main repo container */
.main-repo-container {
  margin: 4% auto;
}

/* Profile container */
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.profile-info, .repo-container {
  flex: 1;
  padding: 20px;
}

/* Back buttons */
.back-to-home-page-button, .back-to-profile-button, .view-repositories-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #282c34;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-to-home-page-button:hover, .back-to-profile-button:hover, .view-repositories-button:hover {
  background-color: cadetblue;
}

/* Additional info styles */
.additional-info {
  text-align: center;
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

/* Limit the width of the email paragraph on smaller screens */
.additional-info p a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
}

/* Responsive styles for screens */
@media (max-width: 600px) {
  .profile-container {
    flex-direction: column;
  }
  
  /* Adjust the width of the single repo card and center-align text on small screens */
  .card {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 601px) {
  .profile-container {
    flex-direction: row;
  }
  
  /* Adjust the width of the repo list container on larger screens */
  .repo-container, .card-container {
    max-width: 80%;
    margin: 0 auto;
  }
}
