.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  color: inherit;
  text-decoration: none;
}

.card {
  width: 40%;
  border: #61dafb solid;
  color: black;
  font-family: "Courier New", Courier, monospace;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2% 0 0 12%;
}

.card h2 {
  width: 70%;
}

.card .stars {
  display: inline-flex;
  flex-direction: row;
  width: 20%;
  font-size: larger;
}

.error-404 {
  margin: 15% auto;
}

.error-boundary {
  margin: 15% auto;
}

.error-404 h1 {
  color: red;
  font-style: italic;
}

.error-boundary h1 {
  color: red;
  font-style: italic;
}

.repo-container {
  display: flex;
  flex-direction: row;
}

.repo-container a {
  margin: 2% 0 0 2%;
}

.main-repo-container {
  margin: 4% auto;
}